/* YOUR CUSTOM STYLES */

body {
    padding: 0;
    margin: 0;
    padding-top: 50px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    background: white;
}
#pdf {
    text-align: center;
    width: 225px;
    padding-right: 0 !important;
}
#pdf > i {
    float: left;
    padding-right: 5px;
}
#pdf > a {
    float: left;
    color: #ffffff;
}
.logo {
    color: #42b5e3;
}

.display-3 {
    font-size: 48px;
    font-weight: 500;
    overflow: hidden;
}

.btn-primary {
    color: #fff;
    background-color: #42b5e3;
    border-color: #42b5e3;
}

.jumbotron {
    max-width: 100%;
    text-align: center;
    background-image: url(../img/cover_2.jpg);
    background-size: contain;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    padding-top: 80px;
    padding-bottom: 64px;
}

.jumbotron .logo {
    font-size: 60px;
}

.jumbotron .lead {
    font-size: 20px;
}

#brand {
    font-size: 32px;
    color: #42b5e3;
    float: left;
    clear: both;
}

.navbar-collapse {
    clear: left;
    float: left;
    padding-left: 50px;
}

#functionality {
    background-image: url(../img/cover_3.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}

#why_list {
    padding: 100px 0 100px 0;
}

#why_list>ul>li>i {
    padding-right: 25px;
    color: grey;
}

#functionality img {
    width: 50%;
    margin: 0 25%;
}

#question_mark {
    cursor: pointer;
}

@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.15);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.10);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 4000ms;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#workday {
    padding-top: 5%;
    text-align: justify;
    text-justify: inter-word;
}

#icons {
    padding-top: 5%;
    padding-bottom: 5%;
}

#icons img {
    width: 50%;
    margin: 0 auto
}

.one {
    width: 50%;
    min-height: 75px;
    border-right: 2px dotted #42b5e3;
}

#system_elements {
    background-image: url(../img/workday.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    color: #ffffff;
    padding-bottom: 5%;
}

.lead>li>i {
    padding-right: 20px;
}

#system_elements_header h2 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    /*-webkit-text-stroke: 0.5px black;*/
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}

#system_elements .col-lg-4 {
    max-width: 30%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1.5%;
    padding-top: 25px;
    border-radius: 25px;
    margin: 0 1.5% 0 1.5%;
}

.rounded {
    border-radius: 50%;
    border: 1px solid #42b5e3;
    background-color: #42b5e3;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
}

.rounded h1 {
    color: #ffffff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#carouselExampleIndicators {
    height: 600px;
    background-color: #edf1f2;
}

#carouselExampleIndicators #system_elements_header h2 {
    color: #9a9a9a;
}

.carousel-item {
    padding-top: 32px;
}

.carousel-indicators {
    margin-left: 20%;
}

.carousel-indicators li {
    background: darkgrey;
}

.carousel-control-prev-icon {
    width: 100px !important;
    height: 100px !important;
}

.carousel-control-next-icon {
    width: 100px !important;
    height: 100px !important;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 0.50s ease-in-out;
}

.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}

#gallery {
    padding-top: 5%;
}

#gallery img {
    -webkit-filter: grayscale(100%);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%);
    /* FF 35+ */
}

#gallery img:hover {
    transition: filter .25s ease-in-out;
    -webkit-filter: grayscale(0%);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%);
    /* FF 35+ */
}

#gallery_2 img {
    width: 100%;
}

#mobile {
    padding-top: 5%;
    padding-bottom: 5%;
    background: #edf1f2;
}

#font_icons i {
    margin-right: 5%;
    color: #98a6ad;
}

#font_icons>i:first-child {
    margin-left: 20%;
}

#contact {
    padding-top: 10%;
    padding-bottom: 10%;
}

#contact_buttons {
    padding-top: 5%;
}

#ue {
    max-width: 50%;
    padding-bottom: 5%;
}

.page-footer {
    background-color: #9a9a9a !important;
}

.footer-copyright>.container-fluid {
    background: #edf1f2;
    color: gray;
}


@media screen and (max-width: 1600px) {
    #ue {
    max-width: 75% ;
    }

}

@media screen and (max-width: 1400px) {
    .jumbotron {
        background-size: cover;
    }
}

@media screen and (max-width: 992px) {
    #question_mark {
        padding-top: 10%;
    }
    #why_list {
        padding-left: 10%
    }
    .icon {
        padding-bottom: 10%;
    }
    #system_elements {
        display: none;
    }
    #mobile {
        text-align: center;
        background: #ffffff;
    }
    #font_icons>i:first-child {
        margin-left: 0;
    }
    #font_icons {
        margin-top: 5%;
    }

    #ue {
    max-width: 100% ;
    }
}

@media screen and (max-width: 575px) {
    #icons img {
        width: 25%;
    }
    #contact_buttons>div>a {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .jumbotron {
        height: 550px;
        background-attachment: initial;
    }
}

@media screen and (max-width: 446px) {
    .jumbotron {
        height: 600px;
    }
    #carouselExampleIndicators {
        height: 700px;
    }
    .display-3 {
    font-size: 40px;
    }
}
